/** @format */

:root {
  font-family: "Ysabeau SC", sans-serif;
  font-size: 24px;
  color: white;
  --dark-cyan: #0e9594;
  --wheat: #f5dfbb;
  --mountbatten-pink: #95818d;
}

html {
  overscroll-behavior: none;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.7;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: black;
  font-family: "Notable", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
}

input {
  font-size: 1rem;
  text-align: center;
  margin: 0;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

.draggable {
  text-align: center;
}

.info {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: flex;
  margin: 5px;
  justify-content: center;
  gap: 50px;
}

.player1-board,
.player2-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.board-container {
  display: flex;
  flex-direction: column;
}

.shipyardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: 700;
}

.shipyard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(56, 118, 217, 0.4);
  padding: 10px;
  width: 20vw;
  min-height: 5vw;
  border: 1px dashed black;
  border-radius: 8px;
}

.start {
  margin-top: 50px;
  background: #5e5df0;
  border-radius: 99px;
  box-shadow: #5e5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji",
    NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.start:disabled {
  opacity: 0;
  cursor: auto;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 20rem;
  height: 4rem;
}

.board-row {
  display: flex;
}

.board-cell {
  opacity: 0.9;
  flex: 1;
  width: 1rem;
  height: 1rem;
  border: 0.1px dotted rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  background-color: #1b95e0;
  cursor: url("crosshair.png") 12 12, crosshair;
}

.ship {
  position: relative;
  background-color: grey;
  height: 1rem;
}

.hitShip {
  background-color: grey;
}

.ship::before {
  content: "";
  position: absolute;
  border: 0.3vmin solid rgba(255, 255, 255, 0.6);
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

[data-orientation="vertical"]::before {
  animation: ripplesY 3s linear infinite;
  border-top: none;
  border-bottom: none;
}

[data-orientation="horizontal"]::before {
  animation: ripplesX 3s linear infinite;
  border-left: none;
  border-right: none;
}

@keyframes ripplesX {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.6);
  }
}

@keyframes ripplesY {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(1.6);
  }
}

.enemy-ship {
  background-color: #1b95e0;
  height: 1rem;
}

.draggable {
  cursor: move;
}

.dragging {
  opacity: 0.5;
}

.highlighted {
  opacity: 0.5;
}

.carrier {
  width: 12rem;
}

.destroyer {
  width: 12rem;
}

.battleship {
  width: 9rem;
}

.destroyer {
  width: 7rem;
}

.submarine {
  width: 7rem;
}

.patrolBoat {
  width: 4.5rem;
}

.hit,
.miss,
.sunk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit::after,
.miss::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.sunk {
  background-color: grey;
}

.miss::after {
  background-color: white;
}

.hit::after {
  background-color: red;
}

.miss::before {
  content: "";
  position: absolute;
  animation: miss 0.2s ease-out forwards;
  border: 0.1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

/* @keyframes miss {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(4);
  }
} */

.sunk::before {
  content: "X";
  color: rgb(211, 9, 50);
  border-radius: 10px;
  position: relative;
}

.player1 {
  margin-bottom: 50px;
}
